* {
    --primary-font: 'Eagle Lake', serif;
    --link-color: #889c9b;
    --footer-height: 72px;
}

hr {
    border: 0;
    border-top: 1px solid var(--link-color);
}

.primary-font {
    font-family: var(--primary-font);
}

.background-primary {
    background-color: #d4b996;
}

.background-secondary {
    background-color: #402219;
}

.background-dark {
    background-color: #22130d;
}

.brand-name {
    font-size: 1.5rem;
    color: white;
}

.nav-options {
    border: none;
    color: white;
    width: 100%;
}

#sidebar {
    position: relative;
    padding-bottom: calc(var(--footer-height) + 1rem);
}

.sidebar-login-btn {
    position: absolute;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    left: 0;
    right: 0;
    bottom: var(--footer-height);
    width: 100%;
    font-size: x-large;
    border-radius: 0;
}

#sticky-sidebar {
    height: calc(100vh - 56px);

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.nav-pills .nav-link.active {
    background-color: var(--link-color);
    color: black;
}

.accordion-button {
    background-color: #402219;
    border: none;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #22130d;
    color: white;
}


.btn-hover:hover {
    background-color: var(--link-color);
    color: white;
}

.game-card {
    width: 100%;
}

.game-card img {
    width: 100%;
    aspect-ratio: 3 / 4;
    height: 100%;
    object-fit: cover;
    display: block;
}

.game-card-body span {
    font-size: 2rem;
}


footer {
    height: var(--footer-height);
    flex-shrink: 0;
}