<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questly</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="/css/app.css">

</head>

<body>


    <main class="primary-font wooden-background">

        <div id="app" class="container-fluid">

            <ul class="nav nav-underline navigation bg-black bg-opacity-75 justify-content-center">
                <li class="nav-item">
                    <a class="brand-name m-1" href="home.html"><img class="logo" src="/images/scroll-icon-6.png"
                            alt="">Questly</a>
                </li>
            </ul>

            <div class="row min-vh-100">

                <div class="col-1">

                </div>

                <div
                    class="col-12 col-md-10 parchment-background d-flex flex-column align-items-center justify-content-start">

                    <h1 class="text-black text-center p-3">Start tracking your achievements</h1>
                    <img src="/images/header-divider.png" alt="header divider" class="header-divider mb-4">

                    <div class="container-fluid border border-black mb-4 w-100">

                        <div class="row">

                            <!--  game title nav list -->
                            <div class="col-12 col-md-3 border border-2 border-black text-center pt-4">

                                <button
                                    class="btn fw-bolder fst-italic fs-4 border border-2 border-black rounded-0 w-75 p-2 ps-2 pe-2"
                                    data-bs-toggle="modal" data-bs-target="#addGameModal" title="Add Game">Add
                                    Game</button>
                                <img src="/images/game-title-divider.png" alt="header divider"
                                    class="game-divider mb-2">

                                <!-- desktop version of game list -->
                                <div class="container desktop">
                                    <h4 class="fw-bolder fst-italic fs-5 pt-4">Pinned Games</h4>
                                    <img src="/images/game-divider.png" alt="" class="game-divider">
                                    <ul class="ps-2 desktop" v-for="(game, g) in pinnedGames" :key="game.name">

                                        <li class="mt-3 text-break">
                                            <a id="selectedGame" class="text-decoration-none text-black"
                                                @click.prevent="selectGame(game)">{{ game.name }}
                                                <hr>
                                            </a>
                                        </li>

                                    </ul>

                                    <p><i class="bi bi-suit-diamond-fill"></i></p>


                                    <h4 class="fw-bolder fst-italic fs-5 pt-4">All Games</h4>
                                    <img src="/images/game-divider.png" alt="" class="game-divider">
                                    <ul class="ps-2 desktop" v-for="(game, g) in gameList" :key="game.name">

                                        <li class="mt-3 text-break">
                                            <a id="selectedGame" class="text-decoration-none text-black"
                                                @click.prevent="selectGame(game)">{{ game.name }}
                                                <hr>
                                            </a>
                                        </li>

                                    </ul>
                                </div>

                                <!-- mobile version of game list -->
                                <div class="accordion mb-3 mobile" id="mobileGameList">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#pinnedGames"
                                                aria-expanded="true" aria-controls="pinnedGames">
                                                Pinned Games
                                            </button>
                                        </h2>
                                        <div id="pinnedGames" class="accordion-collapse collapse"
                                            data-bs-parent="#mobileGameList">
                                            <div class="accordion-body">
                                                <ul class="ps-2" v-for="(game, g) in pinnedGames" :key="game.name">

                                                    <li class="mt-3 text-break fw-bold">
                                                        <a id="selectedGame" class="text-decoration-none text-black"
                                                            @click.prevent="selectGame(game)">{{ game.name }}</a>
                                                        <hr>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#allGames"
                                                aria-expanded="false" aria-controls="allGames">
                                                All Games
                                            </button>
                                        </h2>
                                        <div id="allGames" class="accordion-collapse collapse"
                                            data-bs-parent="#mobileGameList">
                                            <div class="accordion-body">
                                                <ul class="ps-2" v-for="(game, g) in gameList" :key="game.name">

                                                    <li class="mt-3 text-break fw-bold">
                                                        <a id="selectedGame" class="text-decoration-none text-black"
                                                            @click.prevent="selectGame(game)">{{ game.name }}</a>
                                                        <hr>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- displays selected game details -->
                            <div
                                class="col-12 col-md-9 border border-2 border-black d-flex flex-column align-items-center justify-content-start ">

                                <div id="selectedGameInfo" v-if="selectedGame" class="p-3">

                                    <div class="text-center">
                                        <div class="row">
                                            <div class="col-1 position-relative ">
                                                <a href="" class="position-absolute top-0 end-0 text-black">
                                                    <img :src="selectedGame.pin ? '/images/waypoint-filled.png' : '/images/waypoint.png'"
                                                        alt="" class="pin-img">
                                                </a>
                                            </div>
                                            <div class="col-1 position-relative ">
                                            </div>
                                            <div class="col-8">
                                                <h2 class="text-break">{{ selectedGame.name }} <i
                                                        class="btn-icon bi bi-trash2-fill"></i>
                                                </h2>
                                            </div>
                                            <div class="col-1 position-relative ">
                                            </div>
                                            <div class="col-1 position-relative">
                                                <button type="button"
                                                    class="position-absolute top-0 end-0 text-black edit-btn"
                                                    data-bs-toggle="modal" data-bs-target="#editGameModal">
                                                    <img src="/images/quill.png" alt="" class="quill-img">
                                                </button>
                                            </div>
                                        </div>
                                        <p class="mb-2"><strong>Platform:</strong> {{ selectedGame.platform }}</p>
                                        <div class="game-img-wrap">
                                            <img :src="selectedGame.image" :alt="selectedGame.name + ' image'"
                                                class="game-img mb-2">
                                        </div>
                                        <img src="/images/game-divider.png" alt="" class="game-divider">
                                    </div>

                                    <div class="row p-3 pb-0">
                                        <div class="col-4">
                                        </div>
                                        <div class="col-4 d-flex align-items-center justify-content-center">
                                            <h3 class="fs-2">Achievements</h3>
                                        </div>
                                        <div class="col-4 d-flex align-items-center justify-content-end">
                                            <button class="btn btn-sm btn-dark" data-bs-toggle="modal"
                                                data-bs-target="#addAchievementModal">Add New</button>
                                        </div>
                                    </div>

                                    <ul class="ps-3w-100" v-if="selectedGame.achievements.length > 0">
                                        <li v-for="(achievement, a) in selectedGame.achievements" :key="a"
                                            class="m-2 border border-0 border-black">

                                            <hr>
                                            <div class="row">

                                                <div class="col-1 p-0">
                                                    <div class="h-100 d-flex align-items-center justify-content-center">
                                                        <input class="form-check-input checkbox" type="checkbox"
                                                            :id="'achievementCheck' + a" value="" aria-label="...">
                                                    </div>
                                                </div>

                                                <div class="col-11">
                                                    <div class="row mb-2">

                                                        <div class="col-10">
                                                            <strong class="fs-3 text-center">{{ achievement.name
                                                                }}</strong>
                                                        </div>

                                                        <div class="col-2">

                                                            <div class="row">
                                                                <div
                                                                    class="col-12 d-flex align-items-center justify-content-end">

                                                                    <a href=""
                                                                        class="d-flex align-items-center justify-content-end">
                                                                        <img :src="achievement.pin ? '/images/waypoint-filled.png' : '/images/waypoint.png'"
                                                                            alt="" class="achieve-pin">
                                                                    </a>

                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="row">

                                                        <div class="col-12 mb-2">
                                                            <div>{{ achievement.description }}</div>
                                                        </div>


                                                    </div>

                                                    <div class="row">

                                                        <div class="col-4">

                                                            <div class="row">
                                                                <div
                                                                    class="col-6 d-flex align-items-center justify-content-center">
                                                                    <span
                                                                        class="fs-2 mb-2 border border-0 border-bottom border-black me-2">{{
                                                                        achievement.increment }}</span>
                                                                    <p>time(s)</p>
                                                                </div>

                                                                <div
                                                                    class="col-3 d-flex align-items-center justify-content-center p-0">
                                                                    <button class="btn btn-sm btn-dark increment-btn"
                                                                        @click="achievement.increment++"><i
                                                                            class="bi bi-plus-lg"></i></button>

                                                                </div>

                                                                <div class="col-3 d-flex align-items-center p-0">
                                                                    <button class="btn btn-sm increment-btn"
                                                                        @click="achievement.increment > 0 ? achievement.increment-- : 0"><i
                                                                            class="bi bi-dash-lg text-dark"></i></button>

                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="col-6"></div>


                                                        <div
                                                            class="col-2 d-flex align-items-center justify-content-end">
                                                            <button class="btn btn-md border border-0 fs-1 p-0"><i
                                                                    class="bi bi-trash2-fill"></i></button>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>



                                        </li>
                                    </ul>
                                </div>

                                <!-- displays all favorited achievements by default if no game is selected -->
                                <div v-else class="p-3">
                                    <div class="">
                                        <h3 class="text-center fs-2 mt-5">Featured Favorites</h3>
                                        <img src="/images/game-divider.png" alt="" class="game-divider">

                                        <div class="container">
                                            <ul class="ps-2"
                                                v-for="(achievement, a) in allFavoritedAchievements"
                                                :key="achievement.name">

                                                <li class="mt-3 text-break">
                                                    <hr>

                                                    <div class="row">

                                                        <div class="col-10">
                                                            <strong class="fs-3">{{ achievement.name }}</strong>
                                                            <p class="ps-4">{{ achievement.description }}</p>
                                                        </div>

                                                        <div class="col-2 p-0">
                                                            <i class="h-100 d-flex align-items-center justify-content-center fs-3"
                                                                :class="achievement.complete ? 'bi bi-check-square' : 'bi bi-square'"></i>
                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>


                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                </div>

                <div class="col-1">

                </div>
            </div>



            <!-- add game modal -->
            <div class="modal fade" id="addGameModal" tabindex="-1" role="dialog" aria-labelledby="GameModal"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form @submit.prevent="addNewGame()" class="modal-content">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="modalTitle">Add Game</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="title" class="form-label">Title</label>
                                    <input id="title" type="text" class="form-control" v-model="newGame.name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="category" class="form-label">Platform</label>
                                    <select id="category" class="form-select" v-model="newGame.platform" required>
                                        <option value="" disabled>Choose one</option>
                                        <option value="Steam">Steam</option>
                                        <option value="Xbox">Xbox</option>
                                        <option value="PlayStation">PlayStation</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="image" class="form-label">Image Link</label>
                                    <input id="image" type="text" class="form-control" v-model="newGame.image"
                                        placeholder="https://placehold.co/300x400" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Nevermind</button>
                                <button type="submit" class="btn btn-primary">Add It</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <!-- add achievement modal -->
            <div class="modal fade" id="addAchievementModal" tabindex="-1" role="dialog"
                aria-labelledby="AchievementModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form @submit.prevent="addNewAchievement(selectedGame)" class="modal-content">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="modalTitle">Add Achievement</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input id="name" type="text" class="form-control" v-model="newAchievement.name"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea id="description" class="form-control" aria-label="With textarea"
                                        v-model="newAchievement.description" required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="times" class="form-label"># of times</label>
                                    <input id="times" type="number" class="form-control" v-model="newAchievement.times">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Nevermind</button>
                                <button type="submit" class="btn btn-primary">Add It</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>


    </main>




    <footer class="">

        <div class="text-center pb-4 mt-4">
            © 2026 Hannah Kraemer
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <script src="js/home.js"></script>

    <!-- Vue Application -->
    <script type="module">
        // create the app
        import app from './js/app.js';

        // tell it to run on the div #app
        app.mount('#app');
    </script>

</body>



</html>